@media screen and (min-width: 1200px) {

	.width969 {
		max-width:969px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1199px) {

}
@media screen and (max-width: 991px) {
	.tinyheader{
	  text-align:center;
	}
	
	
}
@media screen and (max-width: 880px) {
	.navbar-collapse {
		padding-right: 20px;
		padding-left: 20px;
		text-align:left;
	}
}
@media screen and (max-width: 800px) {

	
}
@media screen and (max-width: 700px) {

}
@media screen and (max-width: 550px) {
	
}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 325px) {
	
}
@media screen and (max-width: 767px) {
	.maxwidth {
		max-width:400px;
		text-align:center;
		margin: 0 auto;
	}
	.navbar-nav {
		margin: 2% 0px 0 0px;
		float: left;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		float: left;
		width: 56%;
		max-width: 500px;
		/*margin-left: 23%;*/
	}
	.navbar-header .navbar-brand {
		width: 70%;
	}
	.navbar-header .navbar-brand img {
		width: 90%;
	}
}
